# Production
VITE_API_URL=https://five-exam-full.onrender.com/api
VITE_ASSET_BASE_URL=https://five-exam-full.onrender.com

# Local Development
# VITE_API_URL=http://localhost:3000/api
# VITE_ASSET_BASE_URL=http://localhost:3000
